* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}
.hamburger {
  z-index: 10;
}
#hidden-logo {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 58px;
  z-index: 5;
}
nav .logo {
  height: 100%;
  padding: 10px;
}
@media (min-width: 750px) {
  nav .logo {
    padding: 10px;
  }
}
nav ul {
  display: flex;
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F9FA;
  transition-duration: 1s;
  transition-property: all;
}
@media (min-width: 750px) {
  nav ul {
    opacity: 1;
    flex-direction: row;
    z-index: 10;
    height: 100%;
    width: 300px;
    align-items: center;
    background: none;
    min-width: fit-content;
    position: unset;
    justify-content: space-between;
  }
  nav ul li {
    margin-bottom: 0;
  }
}
nav .active {
  opacity: 1;
  height: 100vh;
}
@media (min-width: 750px) {
  nav {
    height: 60px;
    background: white;
    z-index: 12;
    padding: 0 10%;
  }
  nav .hamburger {
    display: none;
  }
}
.header {
  height: fit-content;
  width: 100%;
  padding: 58px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(0, 217, 192, 0) 0%, rgba(0, 217, 192, 0.69261208) 29%, #00d9c0 79%, #fcfdaf 100%), url('../../images/warren-wong.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 49% 77%;
}
.header h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
@media (min-width: 750px) {
  .header h1 {
    margin-top: 60px;
  }
}
.header p {
  font-size: 2rem;
}
.header .phone-container {
  position: relative;
  z-index: 3;
}
.header .phone-container .iphone {
  width: 250px;
}
.header #typed-strings {
  display: none;
}
.header #typed {
  position: absolute;
  top: 40%;
  left: 10%;
  margin: auto;
  width: 80%;
}
.header #typed::after {
  content: '|';
  display: inline;
}
.header .first-cta-container {
  height: 70vh;
  justify-content: center;
  margin: 200px 0 0;
  padding: 0 10px;
}
@media (min-width: 750px) {
  .header .first-cta-container {
    width: 500px;
    margin-top: 0;
  }
}
.header .cta-1 {
  margin: 50px auto;
}
.header .cta-1 .signup-button {
  width: 100px;
  height: 50px;
  border: 2px solid #030301;
  border-radius: 100px;
  color: #030301;
  background: none;
}
.header .cta-1 .signup-button:hover {
  border-color: white;
}
.header .cta-1 .signup-button:active {
  border-color: #030301;
}
.header .cta-1 .login-button {
  width: 100px;
  height: 50px;
  border: 2px solid #030301;
  border-radius: 100px;
  color: white;
  background: #030301;
}
.header .cta-1 .login-button:hover {
  border-color: white;
}
.header .cta-1 .login-button:active {
  border-color: #030301;
}
@media (min-width: 750px) {
  .header {
    padding: 60px 10%;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100vh;
  }
}
.user-comments {
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.user-comments #user-count {
  font-weight: 200;
  font-size: 3rem;
  margin: 0 15px;
}
.user-comments button {
  background: none;
  border: none;
  position: absolute;
}
.user-comments button:focus {
  outline: none;
}
.user-comments .left-button {
  top: 50%;
  left: 0;
}
@media (min-width: 750px) {
  .user-comments .left-button {
    left: 20%;
  }
}
.user-comments .right-button {
  top: 50%;
  right: 0;
}
@media (min-width: 750px) {
  .user-comments .right-button {
    right: 20%;
  }
}
.user-comments .carousel {
  display: flex;
  width: 100%;
}
.user-comments .carousel .comment-card {
  width: 0;
  height: 500px;
  opacity: 0;
  transition-duration: 1s;
  transition-property: all;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.user-comments .carousel .comment-card h2 {
  font-size: 2rem;
  font-weight: 100;
  display: none;
}
.user-comments .carousel .active {
  opacity: 1;
  width: 85%;
  margin: auto;
}
.user-comments .carousel .active h2,
.user-comments .carousel .active h3 {
  display: inline;
}
@media (min-width: 750px) {
  .user-comments .carousel .active {
    width: 50%;
  }
}
footer {
  min-height: 500px;
  padding-top: 58px;
  background-image: linear-gradient(180deg, #fcfdaf 0%, #00d9c0 100%);
  text-align: center;
}
footer .more {
  align-items: center;
}
footer h2 {
  margin-top: 30px;
}
footer li {
  margin: 3px 0;
}
footer .cta-2 {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
footer .cta-2 .signup-button {
  width: 100px;
  height: 50px;
  border: 2px solid #030301;
  border-radius: 100px;
  color: #030301;
  background: none;
}
footer .cta-2 .signup-button:hover {
  border-color: white;
}
footer .cta-2 .signup-button:active {
  border-color: #030301;
}
footer .cta-2 .login-button {
  width: 100px;
  height: 50px;
  border: 2px solid #030301;
  border-radius: 100px;
  color: white;
  background: #030301;
}
footer .cta-2 .login-button:hover {
  border-color: white;
}
footer .cta-2 .login-button:active {
  border-color: #030301;
}
footer .cta-2 button {
  margin: 10px 0;
}
@media (min-width: 750px) {
  footer .cta-2 {
    margin: 30px auto;
  }
}
footer .formalities {
  margin: 20px 0;
  text-align: center;
}
@media (min-width: 750px) {
  footer .formalities {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  footer .formalities li {
    display: inline;
    margin-left: 10px;
  }
}
@media (min-width: 750px) {
  footer {
    padding-top: 200px;
  }
  footer .more {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
#team-container {
  width: 100%;
  height: fit-content;
  margin: 100px 0 0;
}
#team-container h1,
#team-container p {
  width: fit-content;
  margin: 0 auto;
}
@media (min-width: 750px) {
  #team-container h1,
  #team-container p {
    margin: unset;
  }
}
#team-container .prof-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 100px;
}
#team-container .prof-pic img {
  width: 100%;
}
#team-container .members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 100px auto;
}
#team-container .members-container .member {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
#team-container .members-container .member li {
  margin: 5px 0;
}
@media (min-width: 750px) {
  #team-container .members-container .member {
    width: 33%;
  }
}
@media (min-width: 750px) {
  #team-container .members-container {
    width: 100%;
  }
}
@media (min-width: 750px) {
  #team-container h1,
  #team-container p {
    width: 500px;
  }
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  margin-bottom: 30px;
}
button:hover {
  cursor: pointer;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
