.header{
    height: fit-content;
    width: 100%;
    padding: @nav-height-mobile 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // background: url('../../images/warren-wong.jpg') 56% -568px no-repeat;
    // background-position: 56% -568px;
    background-image: linear-gradient(180deg, rgba(0, 217, 192, 0) 0%, rgba(0, 217, 192, 0.69261208) 29%, #00d9c0 79%, #fcfdaf 100%), url('../../images/warren-wong.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, 48% 86%;


    .iphone{
        margin-top: 50px;
    }

    .first-cta-container{
        height: 100vh;
        justify-content: center;
    }

    .cta-1{
        margin: 50px auto;

        .signup-button{
            .app-button(@rich-black, none);
        }
        .login-button{
            .app-button(white,@rich-black);
        }
    }
}