.hamburger{
    z-index: 10;
}

#hidden-logo{
    display: none;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: @nav-height-mobile;
    z-index: 5;
    .logo{
        height: 100%;
        padding: 10px;

        @media @phone {
            padding: 10px;
        }
    }

    ul{
        display: flex;
        opacity: 0;
        position: absolute;
        width: 100vw;
        height: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: @light;
        transition-duration: 1s;
        transition-property: all;

        @media @phone {
            opacity: 1;
            flex-direction: row;
            z-index: 10;
            height: 100%;
            width: 300px;
            align-items: center;
            background: none;
            min-width: fit-content;
            position: unset;
            justify-content: space-between;

            

            li{
                margin-bottom: 0;
            }
        }
    }
    
    .active{  
        opacity: 1;
        height: 100vh;
    }

    @media @phone {
        height: @nav-height-desktop;
        background: white;
        z-index: 12;
        padding: 0 10%;
        .hamburger{
            display: none;
        }

    }
}